@model  RealSite.Presentation.ViewModels.UpdateUserViewModel
@{
    ViewBag.Title = "User Info";
}
 
<table class="table">
    <tr><th>Email</th><th>Organisation</th><th>Contact person</th><th>Phone number</th><th></th></tr>   
        <tr>
            <td>@Model.Email</td>
            <td>@Model.Organization</td>
            <td>@Model.ContactPerson</td>
            <td>@Model.Phone</td>
            <td>                
            <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-name="@Model.Email" >Edit</a>                
            </td>
        </tr>    
</table>